# VIM
*.sw[po]

# Python
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Twisted
dropin.cache
_trial_temp
twistd.[lp]*

# Other
deps
certs
